<!--
<section>
  <div class="page-header">
    <h1 ng-bind="vm.allpackage.packageName"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.allpackage.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="allpackages.edit({ allpackageId: vm.allpackage._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">

        <table>
          <tr><td>Date</td>
            <td>Created by</td>
            <td>Package Name</td>
          </tr>
          <tr>
            <td>
              <span ng-bind="vm.allpackage.created | date:'mediumDate'"></span></td>
            <td><span ng-if="vm.allpackage.user" ng-bind="vm.allpackage.user.displayName"></span></td>
            <td><span ng-bind="vm.allpackage.packageName"></span></td>
          </tr>

            <tr><td>
              <span ng-if="!vm.allpackage.user">Deleted User</span></td>
            <td></td>
            <td></td></tr>
        </table>


    </em>

  </small>
  </div>
  <p class="lead" ng-bind="vm.allpackage.content"></p>
</section>
-->


<section id="main">
  <div class="page-header">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Selected package</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Package Name</th>
                <th>Created on</th>
                <th></th>
              </tr>
              <tr>
                <td><span ng-bind="vm.allpackage.packageName"></span></td>
                <td> <span ng-bind="vm.allpackage.created | date:'mediumDate'"></span></td>
                <td><a class="btn btn-primary"
                       ui-sref="allpackages.edit({ allpackageId: vm.allpackage._id })">
                  <i class="glyphicon glyphicon-edit"></i>
                </a>
                  <a class="btn btn-primary" ng-click="vm.remove()">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a></td>
              </tr>
              </thead>
            </table>
            </div>
      </div>
    </div>
  </div>
  </div>
</section>

